name: Reusable common checks

on:
  workflow_call:
    inputs:
      paths-ignore:
        description: Paths to ignore, ex. ["foo", "bar/**"]
        required: false
        type: string

env:
  CLICOLOR: 1

jobs:
  check-common:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Create spell check config
        run: |
          cat <<EOF > typos.toml
          [files]
          extend-exclude = ${{ inputs.paths-ignore || '[]' }}

          [default]
          extend-ignore-identifiers-re = [
            "pnl",
            "PNL",
            "PnL",
            "Verson",
            "TGE",
            "tge",
            "[A-Za-z0-9]{16,}",
            "BY_PN_L",
            "Botto",
            "botto",
            "BOTTO",
            "Choise",
            "choise",
            "VAI",
            "Fracton",
            "fracton",
            "Celsuis",
            "Banruptcy",
            "Celsuis", 
            "leght", 
            "Ue", 
            "strat", 
            "datas", 
            "ot", 
            "pn", 
            "Fo", 
            "Ot",
            "daa", 
            "ba", 
            "nd", 
            "aer", 
            "ket", 
            "Ket", 
            "hte", 
            "Aer", 
            "Ser", 
            "Hte", 
            "ure", 
            "fre", 
            "bre", 
            "Fre", 
            "Bre", 
            "ser", 
            "sie", 
            "Sie", 
            "eit", 
            "iit", 
            "tne", 
            "Tne", 
            "Iit", 
            "Eit", 
            "Ane", 
            "ane", 
            "Dne", 
            "dne", 
            "wnt", 
            "Wnt", 
            "FO", 
            "Noe", 
            "Goe", 
            "Hae", 
            "yot", 
            "Yot", 
            "yse", 
            "Yse", 
            "fle", 
            "Fle", 
            "Targest", 
            "olt", 
            "Olt", 
            "Ect", 
            "ect", 
            "Nce", 
            "nce", 
            "Gir", 
            "PN",
            "MEK" ,
            "Iy",
            "iy",
            "Ba",
            "Alo",
            "Byt",
            "ths",
            "Thn",
            "thn",
            "Pn",
            "BA",
            "CLL",
            "ND",
            "Nd",
            "nd",
            "fo",
            "UE",
            "ue",
            "Ue",
            "OT",
            "INE",
            "Ofr",
            "ofr",
            "IY",
            "Lso",
            "lso",
            "TYP",
            "Typ",
            "typ",
            "oll",
            "Oll",
            "OLL",
            "Sur",
            "sur",
            "SUR",
            "Ege",
            "ege",
            "EGE",
            "Slq",
            "SLQ",
            "slq",
            "Muh",
            "muh",
            "MUH",
            "esy",
            "WYA",
            "YAU",
            "Vai",
            "Som",
            "Mor",
            "Mak",
            "Pash",
            "mak",
            "pash",
            "Oje",
            "Tje",
            "oje",
            "tje",
            "fo",
            "Fpr",
            "fpr",
            "FPR",
            "lod",
            "LOD",
            "Lod",
            "nam",
            "Nam",
            "NAM",
            "TTO",
            "tto",
            "Tto",
            "CAF",
            "Caf",
            "caf",
            "ake",
            "Ake",
            "AKE",
            "mke",
            "Mke",
            "Tke",
            "tke",
            "Lke",
            "lke",
            "Yur",
            "yur",
            "Nwe",
            "nwe",
            "NWE",
            "Dbe",
            "DBE",
            "dbe",
            "mye",
            "Mye",
            "MYE",
            "tre",
            "Tre",
            "Ure",
            "ure",
            "ine",
            "Ine",
            "hae",
            "noe",
            "ist",
            "Ist",
            "Datas",
            "gir",
            "oce",
            "Oce",
            "afe",
            "Afe",
            "rhe",
            "whe",
            "yhe",
            "tht",
            "Rhe",
            "wht",
            "Tht",
            "tht",
            "wht",
            "Whe",
            "Wht",
            "Yhe",
            "ede",
            "Wht",
            "Ede",
            "ove",
            "hve",
            "Hve",
            "bve",
            "Bve",
            "Ove",
            "Hve",
            "tpe",
            "hpe",
            "Tpe",
            "fpt",
            "Tpe",
            "Hpe",
            "Fpt",
            "hge",
            "Tge",
            "Hge",
            "tme",
            "ome",
            "sme",
            "Tme",
            "Sme",
            "Ome",
            "mor",
            "Mor",
            "tye",
            "eyt",
            "Tye",
            "byt",
            "Eyt",
            "Yor",
            "tbe",
            "Tbe",
            "fwe",
            "Fwe",
            "Fiel",
            "LSO",
            "SOM",
            "THA",
            "Als",
            "ags",
            "Mek",
            "Ony",
            "haa",
            "Tro",
            "TEH",
            "YOY",
            "HPE",
            "thq",
            "thr",
            "Ths",
            "transitionable",
            "HAX",
            "Wya"
          ]
          extend-ignore-re = [
            "password:.*", 
            "exportfs"
          ]
          EOF

      - name: Spell Check Repo
        uses: crate-ci/typos@v1.35.1
        with:
          config: ./typos.toml

      - name: Check for Copilot co-author
        id: check_copilot
        run: |
          if git log -1 | grep -q "Copilot"; then
            echo "copilot=true" >> $GITHUB_OUTPUT
          else
            echo "copilot=false" >> $GITHUB_OUTPUT
          fi

      - name: Lint commits
        if: steps.check_copilot.outputs.copilot == 'false'
        uses: wagoid/commitlint-github-action@v6
        with:
          commitDepth: 1
