name: Reusable publish

on:
  workflow_call:
    inputs:
      node-version:
        description: 'Node version to run this workflow. Default: 22'
        default: '22'
        required: false
        type: string
      appId:
        required: true
        type: string
        description: App ID for committing changes
      registryServer:
        required: false
        type: string
        default: 'https://registry.npmjs.org'
        description: Where to send the package
    secrets:
      appPrivateKey:
        required: true
      npmAuthToken:
        required: true

jobs:
  run:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ inputs.appId }}
          private-key: ${{ secrets.appPrivateKey }}

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: master
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}

      - name: Yarn cache directory
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v5
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install
        run: yarn install --inline-builds

      - name: List changed workspaces
        run: yarn workspaces changed list --json

      - name: Version
        run: yarn workspaces changed foreach -v --no-private --exclude . version patch -i
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Debug git diff
        run: |
          git diff

      - name: Changelog
        if: ${{ !cancelled() }}
        run: yarn workspaces changed foreach -v --no-private --exclude . changelog generate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Debug git diff
        run: |
          git diff

      - name: Release
        if: ${{ !cancelled() }}
        run: yarn workspaces changed foreach -v --no-private --exclude . release create
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Force Yarn to use NPM Registry
        if: ${{ !cancelled() }}
        run: |
          yarn config set npmScopes.atls.npmRegistryServer ${{ inputs.registryServer }}
          yarn config set npmRegistryServer ${{ inputs.registryServer }}
        shell: bash

      - name: Npm Publish
        if: ${{ !cancelled() }}
        run: yarn workspaces changed foreach -v --no-private --exclude . npm publish --access public
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.npmAuthToken }}

      - name: Compose commit message
        if: ${{ !cancelled() }}
        id: commit_message
        run: |
          INITIAL_MESSAGE=$'chore(common): versions\n\n'
          temp_file=$(mktemp)
          yarn workspaces changed foreach -v --exclude . exec "echo \"\$npm_package_name:\$npm_package_version \" >> $temp_file"
          MESSAGE=$(cat $temp_file)
          echo $(cat $temp_file)
          INITIAL_MESSAGE+=$MESSAGE
          INITIAL_MESSAGE="${INITIAL_MESSAGE//'%'/' '}"
          INITIAL_MESSAGE="${INITIAL_MESSAGE//$'\n'/' '}"
          INITIAL_MESSAGE="${INITIAL_MESSAGE//$'\r'/' '}"
          echo "commitMessage=$INITIAL_MESSAGE" >> $GITHUB_OUTPUT
          echo $INITIAL_MESSAGE
          rm $temp_file

      - name: Stage all changelog files
        if: ${{ !cancelled() }}
        run: |
          git add '*.md'

      - name: Commit changes
        if: ${{ !cancelled() }}
        uses: planetscale/ghcommit-action@v0.2.20
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          repo: ${{ github.repository }}
          branch: master
          commit_message: ${{ steps.commit_message.outputs.commitMessage }}
          file_pattern: '*.json *.md *.yaml *.yml *.lock'
